@model IEnumerable<SignalMonitor.Models.PacketData>

<h2>Packet Data List</h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Data</title>
</head>
<body>
    <h1>Packet Data</h1>

    <table>
        <thead>
            <tr>
                <th>Packet Id</th>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Protocol</th>
                <th>Value</th>
                <th>Status</th>
                <th>Received Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model)
            {
                <tr>
                    <td>@data.PacketId</td>
                    <td>@data.SourceIP</td>
                    <td>@data.DestinationIP</td>
                    <td>@data.Protocol</td>
                    <td>@data.Value</td>
                    <td>@data.Status</td>
                    <td>@data.ReceivedTimestamp</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>

